<body style="background-color: #C9C6FF; padding-bottom: 30px; ">
    <p style="text-align: center; padding-top: 50px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 50px;">Bienvenido!! </p>
    <p style="text-align: center; padding-top: 10px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Times New Roman', serif; font-size: 30px;">Boletin - Datos </p>
    <div style="background-color: #C7EBFF;padding-left: 50px;padding-right: 50px; padding-bottom: 40px; padding-top: 10px;">
    <button (click)="recoger()" style="background-color:#106FE3; border-radius: 50px;"> <p style="font-family: white ;">IMPRIMIR BOLETIN</p></button>
    <br>

    <p style="text-align: center; font-size: 50px;">
     NOMBRE:
    </p><p style="text-align: center;">
            {{nombre1}}
        </p>
        <p style="text-align: center; font-size: 40px;">
            APELLIDO:
           </p><p style="text-align: center;">
                   {{apellido1}}
               </p>
               <p style="text-align: center; font-size: 40px;">
                DIRECCION:
               </p><p style="text-align: center;">
                       {{direccion1}}
                   </p>
                   <p style="text-align: center; font-size: 40px;">
                    CELULAR:
                   </p><p style="text-align: center;">
                    {{celular1}}
                       </p>
                       <p style="text-align: center; font-size: 40px;">
                        AÑO:
                       </p><p style="text-align: center;">
                             {{ano1}}
                           </p>
    </div>
    </body>
